@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://detaysoft.com/sites/site-1/upload/thumbs/I%CC%87NSAN_KAYNAKLARI-1019-1200-607-p-center_center-FFFFFF-3974-1200-607-p-center_center-FFFFFF.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://www.ofmark.com/blog/wp-content/uploads/2020/08/%C4%B0nsan-Kaynaklar%C4%B1-Y%C3%B6netimi-Nedir-1170x780.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdn.shopify.com/s/files/1/0261/2284/6257/products/600400ik_600x.png?v=1596891549" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="slider">
    <div class="owl-carousel owl-one owl-theme">
        <!-- slider-item -->
        <div class="item">
            <div class="slider-img">
                <img src="~/images/slider_1.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="slider-captions">
                            <h1 class="slider-title">Creative Digital Marketing Agency </h1>
                            <p class="mb20 d-none d-xl-block d-lg-block">
                                We’re a full service digital marketing agency –
                                <br> if it’s marketing, we do it!
                            </p>
                            <a href="#" class="btn btn-white-outline btn-lg">see our work</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.slider-item -->
        <!-- slider-item -->
        <div class="item">
            <div class="slider-img"><img src="~/images/slider_2.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="slider-captions">
                            <h1 class="slider-title">Build Your Seo Easy Way to Success  </h1>
                            <p class="mb20 d-none d-xl-block d-lg-block">
                                We’re a full service digital marketing agency –
                                <br> if it’s marketing, we do it!
                            </p>
                            <a href="#" class="btn btn-white-outline btn-lg">Get Template</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.slider-item -->
        <!-- slider-item -->
        <div class="item">
            <div class="slider-img"><img src="~/images/slider_3.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="slider-captions">
                            <h1 class="slider-title">Grow Your Business Today </h1>
                            <p class="mb20 d-none d-xl-block d-lg-block">
                                We’re a full service digital marketing agency –
                                <br> if it’s marketing, we do it!
                            </p>
                            <a href="#" class="btn btn-white-outline btn-lg">Contact now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.slider-item -->
    </div>
</div>
<!-- /.slider -->
<div class="mb30">
    <div class="container">
        <div class="card-block bg-white ">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title">
                        <h2>What We Offer</h2>
                        <p>Our approach is very simple: we define your problem and give the best solution. </p>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <!-- service-block -->
                    <div class="service-block">
                        <div class="service-icon">
                            <a href="#" class="text-green"> <i class="icon-video"></i></a>
                        </div>
                        <div class="service-content">
                            <h4><a href="#" class="title">Video Marketing</a></h4>
                            <p>Donec luctusorci a semper malesuadametus metus ultrices neque, sit amet aliquet tortor diam dignissim ipsum.</p>
                        </div>
                    </div>
                    <!-- /.service-block -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <!-- service-block -->
                    <div class="service-block">
                        <div class="service-icon">
                            <a href="#" class="text-blue"> <i class="icon-newspaper"></i></a>
                        </div>
                        <div class="service-content">
                            <h4><a href="#" class="title">Content Marketing</a></h4>
                            <p>Phasellus enim odioeleifend at tortor eupharetra tincidunt exestibulum venenc gravida metus.</p>
                        </div>
                    </div>
                    <!-- /.service-block -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <!-- service-block -->
                    <div class="service-block">
                        <div class="service-icon">
                            <a href="#" class="text-red"> <i class="icon-search-engine"></i></a>
                        </div>
                        <div class="service-content">
                            <h4><a href="#" class="title">Search Engine Optimisation</a></h4>
                            <p>Aliquam consectetur arcu quis tellus molestie sollicitudin id a tellus. Quisque condimentum dapibus consectetur.</p>
                        </div>
                    </div>
                    <!-- /.service-block -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <!-- service-block -->
                    <div class="service-block">
                        <div class="service-icon">
                            <a href="#" class="text-yellow"> <i class="icon-stats"></i></a>
                        </div>
                        <div class="service-content">
                            <h4><a href="#" class="title">Pay-Per-Click Marketing</a></h4>
                            <p>Aenean ac molestie nibh. Etiam ullamcorper pulvinar efficitur usce faucibus nulla ac ligula tempor convallis.</p>
                        </div>
                    </div>
                    <!-- /.service-block -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project-section  -->
<div class="mb30 case-section">
    <div class="container">
        <div class="bg-white">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="mb30 card-block">
                        <h2>Your Awesome Project <br> Case Study Headline</h2>
                        <p class="lead mb60">Phasellus tempus felis placerat commodo euscipit at niollicitudin consequat tellusulla iaculis sapien ligula. </p>
                        <p class="font-italic">“Donec sed mauris erat. Praesent dapibus orci ac dolor eleifend”</p>
                        <h5 class="mb40">  - Jhone Doe <span class="text-red ml-2">  ( Foudner - example.com )</span></h5>
                        <a href="#" class="btn btn-default">SEE FEATURED PROJECT</a>
                    </div>
                </div>
                <!-- project-img  -->
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="project-img"><img src="~/images/project_img_1.png" alt=""></div>
                </div>
                <!-- /.project-img  -->
            </div>
        </div>
    </div>
</div>
<!-- /.project-section  -->
<!-- client-section  -->
<div class="mb30">
    <div class="container">
        <div class="card-block bg-white">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12 text-center">
                    <div class="section-title">
                        <h2>The Brands That Trust Us</h2>
                        <p>Our clients are some of the most forward-looking companies in the world. We partner with them to innovate, creating meaningful products and services that solve problems for their customers.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- client-logo  -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_1.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_4.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_3.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_2.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_2.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_3.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_4.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_1.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_4.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_3.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
                <!-- client-logo  -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                    <div class="client-img">
                        <a href="#"><img src="~/images/client_logo_2.png" alt="" class="grayscale"></a>
                    </div>
                </div>
                <!-- /.client-logo  -->
            </div>
        </div>
    </div>
</div>
<!-- /.client-section -->
<!-- cta-section -->
<div class="mb30">
    <div class="container">
        <div class="bg-light-secondary card-block">
            <div class="row">
                <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-12 text-center">
                    <div class="cta-section">
                        <h1>How can we help you?</h1>
                        <p>Morbi eget leo non turpis blandit volutpat. Curabitur rhoncus, orci in mattis semper, nibh urna finibus orci, eget porta lacus tellus at massa. Mauris at sem metus. </p>
                        <a href="#" class="btn btn-default">GET A QUOTE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.cta-section -->
<div class="mb30">
    <div class="container">
        <div class="bg-white card-block">
            <div class="row">
                <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-12 text-center">
                    <!-- section-title -->
                    <div class="section-title">
                        <h1>We share our knowledge on blog</h1>
                        <p>Quisque eu ligula vel sapien fermentum dictum. Praesent a elementum est. </p>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-1 col-xl-4 offset-lg-1 col-lg-4 col-md-5 col-sm-12 col-12">
                    <!-- post-img -->
                    <div class="post-img zoomimg">
                        <a href="#" class=""><img src="~/images/post_img_1.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <!-- /.post-img -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12">
                    <!-- post-block -->
                    <div class="post-block">
                        <div class="post-content">
                            <h3 class="post-title"><a href="#" class="title">Digital marketing website template<br> stunning layouts design</a></h3>
                            <!-- post-meta -->
                            <div class="meta">
                                <span class="meta-date">27 OCT, 2025 </span>
                                <span class="meta-comments">04 Comments</span>
                                <span class="meta-admin"> <a href="#" class="text-blue">Josh Loft</a></span>
                            </div>
                            <!-- /.post-meta -->
                            <div class="meta-line"></div>
                            <p>Quisque eu ligula vel sapien fermentum dictum. Praesent a elementum est. Pellentesque egestas mauris nec est rhoncus, vitae elementum ex auctor. </p>
                        </div>
                    </div>
                    <!-- post-block -->
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-1 col-xl-4 offset-lg-1 col-lg-4 col-md-5 col-sm-12 col-12">
                    <!-- post-img -->
                    <div class="post-img zoomimg">
                        <a href="#" class=""><img src="~/images/post_img_2.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <!-- /.post-img -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12">
                    <!-- post-block -->
                    <div class="post-block">
                        <div class="post-content">
                            <h3 class="post-title">
                                <a href="#" class="title">
                                    Digital Marketing HTML Website Templates<br>
                                    For Web Design Agency
                                </a>
                            </h3>
                            <!-- post-meta -->
                            <div class="meta">
                                <span class="meta-date">26 OCT, 2025 </span>
                                <span class="meta-comments">10 Comments</span>
                                <span class="meta-admin"> <a href="#" class="text-blue">Josh Loft</a></span>
                            </div>
                            <!-- /.post-meta -->
                            <div class="meta-line"></div>
                            <p>Cras commodo non risus ut laoreet. Aliquam consectetur arcu quis tellus molestie sollicitudin id a tellus. Quisque condimentum dapibus consectetur.</p>
                        </div>
                    </div>
                    <!-- post-block -->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mt30">
                    <a href="#" class="btn btn-default">view our blog</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb30">
    <div class="container">
        <div class="card-block bg-white">
            <div class="row">
                <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-12 text-center">
                    <!-- section-title -->
                    <div class="section-title">
                        <h1>Our Agencies in City</h1>
                        <p>Curabitur rhoncus, orci in mattis semper, nibh urna finibus orci, eget porta lacus tellus.</p>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                    <!-- location-block -->
                    <div class="location-block">
                        <div class="location-icon">
                            <i class="icon-location-marker"></i>
                        </div>
                        <div class="location-content">
                            <h4>Washington</h4>
                            <p>
                                3314 Union Street Seattle, WA 98109
                            </p>
                            <p>
                                123.456.HIKE
                                <br> info@hike.com
                            </p>
                        </div>
                    </div>
                    <!-- /.location-block -->
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                    <!-- location-block -->
                    <div class="location-block">
                        <div class="location-icon">
                            <i class="icon-location-marker"></i>
                        </div>
                        <div class="location-content">
                            <h4>New York</h4>
                            <p>
                                1594 Plainfield Avenue Camden, NY 13316
                            </p>
                            <p>
                                321.456.HIKE
                                <br> info@hike.com
                            </p>
                        </div>
                    </div>
                    <!-- /.location-block -->
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                    <!-- location-block -->
                    <div class="location-block">
                        <div class="location-icon">
                            <i class="icon-location-marker"></i>
                        </div>
                        <div class="location-content">
                            <h4>Texas</h4>
                            <p>
                                3169 Brentwood Drive Austin, TX 78723
                            </p>
                            <p>
                                123.456.HIKE
                                <br> info@hike.com
                            </p>
                        </div>
                    </div>
                    <!-- /.location-block -->
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                    <!-- location-block -->
                    <div class="location-block">
                        <div class="location-icon">
                            <i class="icon-location-marker"></i>
                        </div>
                        <div class="location-content">
                            <h4>Indiana</h4>
                            <p>
                                4217 Stratford Park Columbus, IN 47201
                            </p>
                            <p>
                                123.456.HIKE
                                <br> info@hike.com
                            </p>
                        </div>
                    </div>
                    <!-- /.location-block -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter-section -->
<div class="newsletter-block">
    <div class="container">
        <div class="row ">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12 text-center ">
                <div class="section-title">
                    <h2>Digital marketing tips straight to your inbox</h2>
                    <p>
                        Subscribe to the HIKE monthly newsletter. All the latest tips and news
                        <br> in search marketing wrapped up into one.
                    </p>
                </div>
                <form>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                            <div class="form-group service-form-group">
                                <label class="control-label sr-only" for="lname"></label>
                                <input id="lname" type="text" placeholder="Last Name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                            <div class="form-group service-form-group">
                                <label class="control-label sr-only" for="email"></label>
                                <input id="email" type="email" placeholder="Email" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <button type="submit" name="singlebutton" class="btn btn-default btn-block">Sign me up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.newsletter-section -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row ">
            <!-- footer-about -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">Services</div>
                    <ul class="list-unstyled">
                        <li><a href="#">Video Marketing</a></li>
                        <li><a href="#">Content Marketing</a></li>
                        <li><a href="#">Search engine optimization</a></li>
                        <li><a href="#">Pay-per-click Marketing</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-about -->
            <!-- footer-contact -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">Contact us</div>
                    <p>
                        3177 Buck Drive Salt Lake City, UT 84104
                        <br>
                        <br><span class="text-white">+1 120 456 7890</span>
                    </p>
                </div>
            </div>
            <!-- /.footer-contact -->
            <!-- footer-social -->
            <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 col-12 ">
                <div class="footer-widget ">
                    <h3 class="footer-title">Follow us</h3>
                    <div class="social-icon mb20 "> <a href="#" class="btn-social-square"><i class="fa fa-facebook "></i></a> <a href="#" class="btn-social-square "><i class="fa fa-twitter "></i></a> <a href="#" class="btn-social-square "><i class="fa fa-linkedin "></i></a> <a href="#" class="btn-social-square"><i class="fa fa-google-plus "></i></a> <a href="#" class="btn-social-square "><i class="fa fa-instagram "></i></a> <a href="#" class="btn-social-square"><i class="fa fa-pinterest "></i></a><a href="#" class="btn-social-square"><i class="fa fa-youtube"></i></a></div>
                </div>
            </div>
            <!-- /.footer-social -->
            <!-- tiny-footer -->
        </div>
    </div>
    <div class="tiny-footer">
        <div class="container">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                    <p>Copyright © All Rights Reserved 2020 | Template Design & Development by <a href="https://easetemplate.com/ " target="_blank" class="copyrightlink">EaseTemplate</a></p>
                </div>
            </div>
            <!-- /. tiny-footer -->
        </div>
    </div>
</div>
<!-- /.footer -->
<a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/menumaker.js"></script>
<script src="~/js/return-to-top.js"></script>
<script src="~/js/sticky-header.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/multiple-carousel.js"></script>