
@{
    ViewData["Title"] = "Login";
}

<hr />

<div class="row">
    <div class="col-4 offset-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.sidestarhotels.com/storage/company-contents/July2021/3LaGXIPO9rhaQ8KF99CQ-small.png" alt="Card image cap">
            <div class="card-body">
                <a class="btn btn-outline-info rounded p-4 mr-3 text-center" asp-area="" asp-controller="Home" asp-action="SirketLogin">Şirket Girişi Yapınız</a>
            </div>
        </div>
    </div>
    <div class="col-4 offset-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://media.istockphoto.com/vectors/business-profile-line-icon-concept-business-profile-flat-vector-sign-vector-id1140999997?b=1&k=20&m=1140999997&s=170667a&w=0&h=JF47rhSeVsdN59g0Wr3WRSNF_sTrSV0IsBPL8immG6M=" alt="Card image cap">
            <div class="card-body">
                <a class="btn btn-outline-info rounded p-4 mr-3 text-center" asp-area="" asp-controller="Personel" asp-action="Login">Personel Girişi Yapınız</a>
            </div>
        </div>
        
    </div>
</div>