@model SirketRegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center p-4" >Şirket Kayıt Olma Sayfası</h1>
<div class="row">
    <div class="col-6 offset-3">
        <form>
            <div class="form-group">
                <label>Ad</label>
                <input type="text" class="form-control" placeholder="Şirket Adı">
            </div>
            <div class="form-group">
                <label>SGK Sicil No</label>
                <input type="text" class="form-control" placeholder="Şirket Sicil Numarası">
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input type="number" class="form-control" placeholder="Şirket Telefon Numarası">
            </div>
            <div class="form-group">
                <label>Mail Adresi</label>
                <input type="email" class="form-control" placeholder="Şirket Mail Adresi">
            </div>
            <div class="form-group">
                <label>Parola</label>
                <input type="password" class="form-control" placeholder="Parola">
            </div>
            <div class="form-group">
                <label>Parola Tekrarı</label>
                <input type="password" class="form-control" placeholder="Parola Tekrarı">
            </div>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form>
    </div>
</div>


