@model SirketRegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center p-4" >Şirket Kayıt Olma Sayfası</h1>
<div class="row">
    <div class="col-6 offset-3">
        <form method="post">
            <div class="form-group">
                <label asp-for="Ad"></label>
                <input asp-for="Ad" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="SGKSicilNo"></label>
                <input asp-for="SGKSicilNo" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Telefon"></label>
                <input asp-for="Telefon" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Parola"></label>
                <input asp-for="Parola" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="ParolaTekrari"></label>
                <input asp-for="ParolaTekrari" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form>
    </div>
</div>


